/* *{
  font-family: 'Playfair Display', serif;
} */

body{
  margin: 15px;
  border-width: 6px;
  border-color: rgb(56, 135, 214);
  border-style: dashed;
  padding: 20px;
  background-color:rgb(177, 198, 204);
}

.header-footer{
  background-color: lightblue;
}
header {
  font-family: 'Playfair Display', serif;
}
header h1{
  padding-top: 10;
  margin: 4px;
  letter-spacing: 2px;
  text-transform: none;
}
main{
  padding: 20px;
}
section h3{
  font-family: sans-serif;
}
#small-text{
  font-size: 12px;
}